<section class="about text back " id="about">
    <div class="container-fluid">
        <div class="row justify-content-center py-3">
            <div class="col-md-6 text-center">
                <h3 class="fw-bold">Hi, I’m Eman. Nice to meet you.</h3>
                <p>Let me tell you a little about my self and what i do :
                </p>
                <p class="text-muted">
                    I have a Bachelor of Science from Mansoura University and a diploma of biochemistry. I have always a passion for good design and a fascination with the digtal world, so it was perhaps inevitable that i would become a professional web developer.
                </p>
                <p class="text-muted fw-bold">
                    I am currently working in Tachy-Health as a front-end developer.
                </p>
                <a class="btn dbtn fw-bold border-white" href="../../assets/RxResume_PDFExport_hojPK6_2KJ68XCZmgds0s.pdf" download> Download my CV</a>
            </div>
        </div>

    </div>
</section>
<section class=" technology  p-5">
    <div class="container-xl">
        <div class="row tech justify-content-center gap-2">
            <div data-aos="zoom-in-up" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="col-md-5 first text-center">
                <i class="fa fa-pencil fa-2x text2"></i>
                <h3>Designer</h3>
                <p class="lead">I value simple content structure, clean design patterns, and thoughtful interactions.</p>
                <h5 class="text-w text2">Things I enjoy designing:</h5>
                <p class="lead">UX, UI, Web, Mobile, Apps</p>
            </div>
            <div data-aos="zoom-in-up" data-aos-duration="2000" data-aos-easing="ease-out-cubic" class="col-md-5 first text-center">
                <i class="fa fa-code fa-2x text2"></i>
                <h3>Front-end Developer</h3>
                <p class="lead">I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>
                <h5 class="text-w text2">Languages I speak:</h5>
                <p class="lead">HTML, CSS, Sass, JS, Bootstrap, Angular </p>
            </div>

        </div>
    </div>
</section>
