<section class="work" id="work">
    <div class="container-xl">
        <h2 class="fw-bold">My Recent Work</h2>
        <p>
            Here are a few design projects I've worked on recently. Want to see more?
            <a class="mail text2" href="mailto:emanshaltoot623@gmail.cpm">Email me</a> .
        </p>
        <div data-aos="zoom-in" data-aos-duration="2000" data-aos-easing="ease-out-cubic" class="items">
            <div class="item">
                <div class="item-image">
                    <img src="./assets/img/2022-07-05.png" alt="" />
                </div>
                <div class="item-text">
                    <div class="item-text-wrap">
                        <h2 class="item-text-title">Welcome To Jevelin</h2>
                        <a href="https://eman-abdallah.github.io/Jevelin/" target="_blank" class="btn text-white border-white">
              Visit Website <i class="fa fa-arrow-right"></i>
            </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-image">
                    <img src="./assets/img/2022-07-05 (1).png" alt="" />
                </div>
                <div class="item-text">
                    <div class="item-text-wrap">
                        <h2 class="item-text-title">Business Raleway Website</h2>
                        <a href="https://eman-abdallah.github.io/Raleway/" target="_blank" class="btn text-white border-white">
              Visit Website <i class="fa fa-arrow-right"></i>
            </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-image">
                    <img src="./assets/img/2022-07-05 (2).png" alt="" />
                </div>
                <div class="item-text">
                    <div class="item-text-wrap">
                        <h2 class="item-text-title">News Website</h2>
                        <a href="https://eman-abdallah.github.io/News/" target="_blank" class="btn text-white border-white">
              Visit Website <i class="fa fa-arrow-right"></i>
            </a>
                    </div>
                </div>
            </div>
            <!--  <div class="item ">
               <div class="item-image">
                    <img src="assets/img/2022-07-05 (3).png" alt="">
                </div>
                <div class="item-text">
                    <div class="item-text-wrap">

                        <h2 class="item-text-title">Lotus Academy</h2>
                        <a href="#" class="btn text-white border-white">
                          Visit Website <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item ">
                <div class="item-image">
                    <img src="assets/img/2022-07-05 (4).png" alt="">
                </div>
                <div class="item-text">
                    <div class="item-text-wrap">

                        <h2 class="item-text-title">Jumia Website</h2>
                        <a href="#" class="btn text-white border-white">
                          Visit Website <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item ">
                <div class="item-image">
                    <img src="assets/img/2022-07-05 (5).png" alt="">
                </div>
                <div class="item-text">
                    <div class="item-text-wrap">

                        <h2 class="item-text-title">Facebook Website</h2>
                        <a href="#" class="btn text-white border-white">
                          Visit Website <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <div class="container-xl mt-4">
        <h2 class="fw-bold">My Recent Challenges in Frontend Mentor</h2>
        <p>
            Here are a few design projects I've worked on recently.
            <a class="mail text2" href="https://www.frontendmentor.io/profile/Eman-Abdallah">
        Want to see more?</a
      >
      .
    </p>
    <swiper
      [config]="config"
      data-aos="zoom-in"
      data-aos-duration="2000"
      data-aos-easing="ease-out-cubic"
    >
      <ng-template swiperSlide class="pb-5">
        <div class="box">
          <img
            src="./assets/img/Screenshot 2023-01-19 143132.png"
            class="img-fluid"
          />
          <div class="box-content">
            <h3 class="title">Todo-List</h3>
            <span class="post"
              >#accessibility #angular #bootstrap #material-ui #sass/scss</span
            >
          </div>
          <ul class="icon">
            <li>
              <a
                href=" https://eman-abdallah.github.io/Todo-List/"
                target="_blank"
                ><i class="fa fa-link"> </i
              ></a>
            </li>
            </ul>
    </div>
    </ng-template>
    <ng-template swiperSlide class="pb-5">
        <div class="box">
            <img src="./assets/img/Screenshot 2023-01-19 144542.png" class="img-fluid" />
            <div class="box-content">
                <h3 class="title">Loop Studios</h3>
                <span class="post"> #HTML #JavaScript #sass/scss</span>
            </div>
            <ul class="icon">
                <li>
                    <a href="https://eman-abdallah.github.io/Loopstudios-/" target="_blank"><i class="fa fa-link"></i
              ></a>
                </li>
            </ul>
        </div>
    </ng-template>
    <ng-template swiperSlide class="pb-5">
        <div class="box">
            <img src="./assets/img/Screenshot 2023-01-19 145524.png" class="img-fluid" />
            <div class="box-content">
                <h3 class="title">Manage-landing-page</h3>
                <span class="post"> #HTML #JavaScript #sass/scss #bootstrap</span>
            </div>
            <ul class="icon">
                <li>
                    <a href="https://eman-abdallah.github.io/Interactive-comments-section/" target="_blank"><i class="fa fa-link"></i
              ></a>
                </li>
            </ul>
        </div>
    </ng-template>
    <ng-template swiperSlide class="pb-5">
        <div class="box">
            <img src="./assets/img/Screenshot 2023-01-19 145907.png" class="img-fluid" />
            <div class="box-content">
                <h3 class="title">Interactive-comments-section</h3>
                <span class="post"> #HTML #JavaScript #sass/scss </span>
            </div>
            <ul class="icon">
                <li>
                    <a href="https://eman-abdallah.github.io/Interactive-comments-section/" target="_blank"><i class="fa fa-link"></i
              ></a>
                </li>
            </ul>
        </div>
    </ng-template>
    <ng-template swiperSlide class="pb-5">
        <div class="box">
            <img src="./assets/img/Screenshot 2023-01-19 152328.png" class="img-fluid" />
            <div class="box-content">
                <h3 class="title">modern publishing platform</h3>
                <span class="post"> #HTML #JavaScript #sass/scss </span>
            </div>
            <ul class="icon">
                <li>
                    <a href="https://eman-abdallah.github.io/-Blogr-/" target="_blank"><i class="fa fa-link"></i
              ></a>
                </li>
            </ul>
        </div>
    </ng-template>
    <ng-template swiperSlide class="pb-5">
        <div class="box">
            <img src="./assets/img/Screenshot 2023-01-19 152624.png" class="img-fluid" />
            <div class="box-content">
                <h3 class="title">Sunnyside</h3>
                <span class="post"> #HTML #JavaScript #sass/scss </span>
            </div>
            <ul class="icon">
                <li>
                    <a href="https://eman-abdallah.github.io/Sunnyside/" target="_blank"><i class="fa fa-link"></i
              ></a>
                </li>
            </ul>
        </div>
    </ng-template>
    <ng-template swiperSlide class="pb-5">
        <div class="box">
            <img src="../../assets/img/Screenshot 2023-01-19 152955.png" class="img-fluid" />
            <div class="box-content">
                <h3 class="title">E-commerce-product-page</h3>
                <span class="post"> #HTML #JavaScript #sass/scss </span>
            </div>
            <ul class="icon">
                <li>
                    <a href="https://eman-abdallah.github.io/E-commerce-product-page/" target="_blank"><i class="fa fa-link"></i
              ></a>
                </li>
            </ul>
        </div>
    </ng-template>
    <ng-template swiperSlide class="pb-5" \}+{_P?)OIUYt>
        <div class="box">
            <img src="../../assets/img/Screenshot 2023-01-19 153449.png" class="img-fluid" />
            <div class="box-content">
                <h3 class="title">Interactive-card-details-form</h3>
                <span class="post"> #HTML #JavaScript #sass/scss </span>
            </div>
            <ul class="icon">
                <li>
                    <a href="https://eman-abdallah.github.io/-Interactive-card-details-form/" target="_blank"><i class="fa fa-link"></i
              ></a>
                </li>
            </ul>
        </div>
    </ng-template>
    </swiper>
    </div>
</section>
