<section class="languages   back text" id="skills">
    <div class="container-fluid">
        <div class="row justify-content-center py-3">
            <div class="col-md-6 text-center">
                <h3 class="fw-bold">My Web Development Language</h3>

                <p class="text-muted  mb-0">
                    While there are many different programming languages, I write the most common ones used in web development which are :
                </p>
                <h4 class=" text-white fw-bold  p-3">
                    JavaScript , HTML , CSS , SASS .
                </h4>
                <h3 class="text-center py-3">Framework I usually use :</h3>
            </div>
        </div>

    </div>

    <section class=" framework  ">
        <div class="container-xl">
            <div class="row frame justify-content-center gap-2">

                <div data-aos="flip-right" data-aos-duration="2000" data-aos-easing="ease-out-cubic" class="col-md-5  text-center">
                    <img src="../../assets/img/Bootstrap_logo.svg.png" height="60px" alt="">
                    <h3 class="text-w text2">Bootstrap</h3>
                    <p class="lead ">Bootstrap is a free and open-source CSS framework directed at responsive, mobile-first front-end web development .</p>

                </div>
                <div data-aos="flip-left" data-aos-duration="2000" data-aos-easing="ease-out-cubic" class="col-md-5 text-center">
                    <img src="../../assets/img/Angular_full_color_logo.svg.png" height="60px" alt="">
                    <h3 class="text-w text2">Angular</h3>
                    <p class="lead ">Angular is a TypeScript-based free and open-source web application framework led by the Angular Team at Google .</p>

                </div>

            </div>
        </div>
    </section>
</section>
