.about {
    padding: 50px 20px 100px;
    background-color: $main-color;
    a {
        text-decoration: none;
    }
    .dbtn {
        color: $light-color;
        transition: all .5s ease;
        &:hover {
            color: $main-color;
            background-color: $light-color;
        }
    }
}

.technology {
    position: relative;
}

.tech {
    position: absolute;
    width: 80%;
    top: -80%;
    left: 10%;
    z-index: 10;
    .first {
        padding: 10px 20px;
        border-radius: 20px;
        background-color: $light-color;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
    i {
        color: $main-color;
        padding: 10px;
    }
    h3 {
        padding: 10px;
        font-weight: bold;
    }
    .text-w {
        color: $main-color;
    }
}
