.languages {
    position: relative;
    padding: 50px 20px 100px;
    position: relative;
    background-color: $main-color;
}

.frame {
    position: absolute;
    width: 80%;
    top: 70%;
    left: 10%;
    .col-md-5 {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        border-radius: 20px;
        z-index: 10;
        background-color: $light-color;
        padding: 20px;
    }
    .text-w {
        color: $main-color;
    }
    i {
        color: $main-color;
        padding: 10px;
    }
    h3 {
        padding: 10px;
        font-weight: bold;
    }
}

@media (max-width: 400px) {
    .frame {
        padding-top: 50px;
    }
}
