.work {
    padding-top: 200px;
    padding-bottom: 50px;
    text-align: center;
    h2 {
        font-weight: bolder;
    }
    .mail {
        text-decoration: none;
        color: $main-color;
        font-weight: bold;
    }
    .items {
        margin-top: 30px;
        margin-bottom: 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    }
    .item {
        position: relative;
        background: $main-color;
        overflow: hidden;
        &::after {
            content: "";
            position: absolute;
            display: block;
            background: inherit;
            opacity: 0.9;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
            transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
        }
        //   bring in main color overlay
        &:hover:after {
            transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
        }
        //   scale image in hover
        &:hover .item-image {
            transform: scale(1.2);
        }
        //   bring in text on hover
        &:hover .item-text {
            opacity: 1;
            transform: translateY(0);
        }
        .item-image {
            height: auto;
            transform: translateZ(0);
            display: block;
            transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
        }
        .item-image:before {
            content: "";
            padding-top: 75%;
            display: block;
            overflow: hidden;
        }
        .item-image img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            line-height: 0;
        }
        .item-text {
            position: absolute;
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
            text-align: center;
            color: $light-color;
            opacity: 0;
            z-index: 1;
            transform: translateY(-20%);
            transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
            transition-delay: 300ms;
            .btn:hover {
                background-color: $light-color;
                color: $main-color!important;
            }
        }
        .item-text-wrap {
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
        }
        .item-text-title {
            font-size: 2rem;
            padding: 1rem;
            margin: 5px 0 0 0;
        }
        .item-text-category {
            text-transform: uppercase;
            font-size: 1.2rem;
            opacity: 0.7;
            margin: 0;
        }
    }
}

@media (max-width: 786px) {
    .work {
        padding-top: 400px;
        .items {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

@media (max-width: 400px) {
    .work {
        padding-top: 500px;
    }
}

.box {
    border: 5px solid #f5f5f5;
    background: linear-gradient(to top right, #fff 10%, #000 100%);
    font-family: 'Raleway', sans-serif;
    text-align: center;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, .07);
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.box:before {
    content: "";
    width: 50%;
    height: 75%;
    border-top: 208px solid rgba(7, 0, 2, .3);
    border-left: 140px solid rgba(240, 74, 126, .6);
    border-bottom: 188px solid transparent;
    border-right: 160px solid transparent;
    position: absolute;
    top: 0;
    left: -230px;
    z-index: 1;
    transition: all .4s ease-in-out;
}

.box:hover:before {
    border-top: 325px solid #ffbc00;
    border-left: 422px solid #ffbc00;
    border-bottom: 218px solid transparent;
    border-right: 160px solid transparent;
    transform: rotate3d(0, 0, 1, 52deg) scale3d(1, 1, 1);
    top: 103px;
    left: -350px;
}

.box img {
    transform: scale(1, 1);
    transition: all .3s ease-in-out;
    min-height: 240px;
}

.box:hover img {
    opacity: .7;
    transform: scale(1.1, 1.1);
}

.box .box-content {
    color: #fff;
    background-color: #ffbc00;
    width: 60%;
    padding: 10px 10px;
    transform: scale(0);
    position: absolute;
    top: 15px;
    right: 15px;
    transition: all .5s ease-in-out;
}

.box:hover .box-content {
    transform: scale(1);
}

.box .title {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 0;
}

.box .post {
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
    text-transform: capitalize;
    display: block;
}

.box .icon {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 1;
    transition: all .5s ease-in-out;
}

.box .icon li {
    margin: 0 3px 0 0;
    display: inline-block;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.box:hover .icon li {
    opacity: 1;
}

.box:hover .icon li:nth-child(1) {
    transition-delay: .2s;
}

.box:hover .icon li:nth-child(2) {
    transition-delay: .3s;
}

.box .icon li a {
    color: #d19a03;
    background-color: #fff;
    font-size: 16px;
    line-height: 28px;
    height: 30px;
    width: 30px;
    border: 2px dotted transparent;
    border-radius: 50%;
    display: block;
    transform: rotate(0);
    transition: all 0.3s;
}

.box .icon li a:hover {
    color: #ffbc00;
    background: #fff;
    border-color: #ffbc00;
    transform: rotate(360deg);
}

@media only screen and (max-width:990px) {
    .box {
        margin: 0 0 30px;
    }
}

.dark {
    .box:hover:before {
        border-top: 325px solid rgb(160, 3, 233) !important;
        border-left: 422px solid rgb(160, 3, 233) !important;
        left: -350px;
    }
    .box .box-content {
        background-color: rgb(160, 3, 233) !important;
    }
    .box .icon li a {
        color: rgb(160, 3, 233) !important;
    }
    .box .icon li a:hover {
        color: rgb(160, 3, 233) !important;
        border-color: rgb(160, 3, 233) !important;
    }
}