/* You can add global styles to this file, and also import other style files */

@import'./themes/scss/global/var.scss';
@import'./themes/scss/global/font.scss';
@import'./themes/scss/component/header.scss';
@import'./themes/scss/component/footer.scss';
@import'./themes/scss/pages/about.scss';
@import'./themes/scss/pages/work.scss';
@import'./themes/scss/pages/technology.scss';
@import'./themes/scss/pages/contact.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Dosis";
}
